<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "recaptcha" %></h1>
</section>

  <%= form_for @conn, Routes.page_path(@conn, :create), fn f -> %>
    <input id="submit" class="submit" type='submit' name="btn-submit" value='verify' disabled>
    <%= raw Recaptcha.Template.display(onload: "myOnLoadCallback", callback: "enableBtn",) %>
    <input id="recaptcha_token" name="recaptcha_token" type="hidden" value="">
  <% end %>

<script> 
function enableBtn(){
  jQuery("input#submit").attr("disabled",false)
}

function myOnLoadCallback() {
  // perform extra actions here
}
</script>

<div>
<%= if @response != "" do %>
  <h3>reCAPTCHA result</h3>
    <textarea readonly=true cols=75>
      <%= @response %>
    </textarea>
<% end %>

<%= if @error != "" do %>
  <h3>reCAPTCHA error</h3>
  <textarea readonly=true cols=75>
    <%= @error %>
  </textarea>
<% end %>
</div>